<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="fragments/header :: header"></th:block>
  <th:block th:insert="fragments/base :: header"></th:block>
</head>
<body class="bg-gradient">
  <!-- Page Wrapper -->
      
          <div class="alert alert-success" th:if="${param.upload}">
          <div class="d-flex align-items-center justify-content-center">教材を追加しました！</div>
          </div>
          
          <div class="alert alert-success" th:if="${param.upldate}">
          <div class="d-flex align-items-center justify-content-center">プロフィールを更新しました</div>
          </div>
          
          <!-- Main -->
          <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
          <div class="container">  
          <br />
          
            <!-- upload btn -->
            <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-4">
                <h4>教材アップロード</h4>
                    <a th:href="@{/file/new}" class="btn btn-info btn-user btn-block btn-lg">
                      アップロード画面へ
                    </a>
            </div>
            </div>
            <!-- end of upload btn -->
            
            <!-- profile -->
            <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-4">
            <div class="row">
            <div class="col-lg-12">
            <div class="p-5">

            <!-- userConfirm -->
            <table class="table user-top" th:object="${user}">
              <tr>
                <th th:text="*{displayname}+のプロフィール"></th></tr>
            </table>
                    
		    <table class="table user-container" th:object="${user}">
		      <tr>
			    <th>ユーザー名</th>
				<td th:text="*{username}"></td>
			  </tr>
			  <tr>
			    <th>名前</th>
			    <td th:text="*{displayname}"></td>
			  </tr>
			  <tr>
			    <th>教材数</th>
			    <td th:text="${count}"></td>
			  </tr>
			  <tr>
			    <th>自己紹介</th>
			    <td th:text="*{profile}"></td>
			  </tr>
			  <tr>
			    <td>
				  <a th:href="@{/user_master/edit/{userId}(userId=*{id})}">プロフィールを編集する</a>
			    </td>
				<td></td>
			  </tr>
		    </table>
                    
            </div>
            </div>
            </div>
            </div>
            </div>
            
          </div>
          <!-- teaching-material list -->
          <div class="card my-4">
          <div class="card-header py-4">
              <h3 class="m-0 font-weight-bolder">
                投稿した教材一覧
              </h3>
          </div>
          <div class="card-body">
          <div class="teaching-material-list">
          <div class="container">
          <div class="album py-5">
    
          <div class="row">
          <div class="col-md-3" th:each="file:${files}" th:object="${file}">
          <div class="card mb-3 shadow-sm">
            <img class="card-img-top" th:if="!*{isImageExtension}" src="/images/file/no-image.jpg" alt="no_image"
					 loading="lazy">
            <img class="card-img-top" th:if="*{isImageExtension}" th:src="@{/file/show/image/{id}(id=*{id})}" th:alt="*{name}"
					 loading="lazy">
          <div class="card-body">
          <table class="table index-itemname" th:object="${file}">
		    <tr>
			  <td th:text="*{itemname}"></td>
			</tr>
		  </table>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-primary" th:href="@{/file/show/{id}(id=*{id})}">詳細</a>
                      <a th:if="${loginUsername} == *{createUser.username}" class="btn btn-sm btn-outline-info"
						th:href="@{/file/edit/{id}(id=*{id})}">編集</a>
				      <a th:if="${loginUsername} == *{createUser.username}" class="btn btn-sm btn-outline-warning"
						th:href="@{/file/delete/{id}(id=*{id})}" th:method="get">削除</a>
                  </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            
            </div>
            </div>
            </div>
            </div>
            </div>
              
          <!-- End of teaching-material list -->
          <!-- End of Main -->
          </div>
          </div>
</body>
  <th:block th:insert="fragments/base :: scripts"></th:block>
  <th:block th:insert="fragments/footer :: footer"></th:block>
</html>