<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>New File</title>
	<th:block th:insert="fragments/header :: header"></th:block>
    <th:block th:insert="fragments/base :: header"></th:block>
</head>

<body class="bg-gradient">
	<div class="container body-container"><br/>
		<h1>教材アップロード</h1><br>
		<form th:action="@{/file/upload}" th:method="post" enctype="multipart/form-data"
			th:object="${fileUploadForm}">
			<div class="mb-3">
				<input type="file" th:field="*{multipartFile}" class="form-control" />
				<br />
				<span th:if="${#fields.hasErrors('multipartFile')}"
					th:errors="*{multipartFile}">
				</span>
			</div>
			<div class="form-group">
                      <label for="name">
                        <span class="badge badge-danger">必須</span>
                        教材名
                      </label>
                      <input type="text" class="form-control"
                        th:errorclass="is-invalid" th:field="*{itemname}">
                      <div class="invalid-feedback"
                        th:errors="*{itemname}">
                      </div>
                    </div>
			<div class="form-group">
                      <label for="description">
                        <span class="badge badge-primary">任意</span>
                        教材の内容（使い方や関連書籍など）
                      </label>
                      <textarea class="profile_text" rows="10" cols="60" th:field="*{description}" placeholder="ここに記入してください"></textarea>
                    </div>
			<br />
			<span class="d-flex justify-content-between">
				<button type="submit" class="btn btn-outline-danger">アップロード</button>
				<a class="btn btn-outline-primary" th:href="@{/}">HOME画面へ</a>
			</span>
		</form>
	</div>
	<th:block th:insert="fragments/base :: scripts"></th:block>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</body>
</html>