<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Show File</title>
	<th:block th:insert="fragments/header :: header"></th:block>
	<th:block th:insert="fragments/base :: header"></th:block>
</head>

<body class="bg-gradient">
  <!-- Page Wrapper -->
  <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container">
        <br />
        <!-- show -->
             <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
	<div class="container body-container">
		<h1>教材ダウンロード</h1>
		<table class="table file-container" th:object="${file}">
			<tr>
				<th>教材 ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th>ファイル名</th>
				<td th:text="*{name}"></td>
			</tr>
			<tr>
				<th>教材名</th>
				<td th:text="*{itemname}"></td>
			</tr>
			<tr>
				<th>教材の内容</th>
				<td th:text="*{description}"></td>
			</tr>
			<tr>
				<th>ファイル</th>
				<td>
					<img th:if="!*{isImageExtension}" src="/images/file/no-image.jpg" alt="no_image"
						 class="image-vw" loading="lazy">
					<img th:if="*{isImageExtension}" th:src="@{/file/show/image/{id}(id=*{id})}"
						th:alt="*{name}" class="image-vw" loading="lazy">
					<br />
				</td>
			</tr>
			<tr>
				<th>登録ユーザー</th>
				<td th:text="*{createUser.displayname}"></td>
			</tr>
			<tr>
				<th>登録日時</th>
				<td th:text="*{createDate}"></td>
			</tr>
			<tr>
				<th>更新ユーザー</th>
				<td th:text="*{updateUser.displayname}"></td>
			</tr>
			<tr>
				<th>更新日時</th>
				<td th:text="*{updateDate}"></td>
			</tr>
				<tfoot>
					  <tr>
						<td colspan="2">
							<span class="d-flex justify-content-between">
								<a class="btn btn-outline-primary" th:href="@{/}">HOME画面へ</a>
								<a class="btn btn-outline-danger" th:href="@{/file/download/{id}(id=*{id})}">ダウンロード</a>
							</span>
						</td>
				      </tr>
				  </tfoot>
				
		</table>
		 </div>
			  </div>
			  </div>
  </div>
  </div>
    </div>
 
  
              
			
			
          <!-- End of teaching-material list -->
          <!-- End of Main -->
          </div>
          </div>
	</div>
	<th:block th:insert="fragments/base :: scripts"></th:block>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</body>

</html>