<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="fragments/header :: header"></th:block>
  <th:block th:insert="fragments/base :: header"></th:block>
</head>
<body class="bg-gradient">
  <!-- Page Wrapper -->
  
    <div class="alert alert-success" th:if="${param.upload}">
    <div class="d-flex align-items-center justify-content-center">教材を追加しました！</div>
    </div>
          
    <div class="alert alert-danger" th:if="${param.delete}">
    <div class="d-flex align-items-center justify-content-center">教材を削除しました</div>
    </div>
          
    <div class="alert alert-danger" th:if="${param.fileupdate}">
    <div class="d-flex align-items-center justify-content-center">教材内容を更新しました</div>
    </div>
          
    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container"><br />
          
                    
                    <ul class="topMenu">
                        <li>
                          <a class="nav-link"
						     th:href="@{/file/mypage}">MyPage</a>
                        </li>
                        <li>
                          <a class="nav-link" 
                             th:href="@{/file/new}">教材アップロード</a>
                        </li>
                        <li>
                          <a class="nav-link" 
                             th:href="@{/logout}">ログアウト</a>
                        </li>
                    </ul>
                    

        <!-- teaching-material list -->
          <div class="card my-4 shadow-lg">
            <div class="card-header py-3 text-center">
              <h3 class="m-0 font-weight-bolder">
                New
              </h3>
            </div>
          <div class="card-body">
            <div class="teaching-material">
              <div class="album py-5">
                <div class="container">
    
                <div class="row">
                <div class="col-md-4" th:each="file:${files}" th:object="${file}">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" th:if="!*{isImageExtension}" src="/images/file/no-image.jpg" alt="no_image"
					     loading="lazy">
                    <img class="card-img-top" th:if="*{isImageExtension}" th:src="@{/file/show/image/{id}(id=*{id})}" th:alt="*{name}"
					     loading="lazy">
                <div class="card-body">
              
                <table class="table index-itemname">
			        <tr>
                    <td th:text="*{itemname}"></td>
			  </tr>
			  </table>
              
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-primary" th:href="@{/file/show/{id}(id=*{id})}">詳細</a>
                      <a class="btn btn-sm btn-outline-success"
                        th:href="@{/user_master/contributor/{userId}(userId=*{createUser.id})}" >投稿者</a>
                  </div>
                  <div class="btn-group">
                      <a th:if="${loginUsername} == *{createUser.username}" class="btn btn-sm btn-outline-info"
						th:href="@{/file/edit/{id}(id=*{id})}">編集</a>
				      <a th:if="${loginUsername} == *{createUser.username}" class="btn btn-sm btn-outline-warning"
						th:href="@{/file/delete/{id}(id=*{id})}" th:method="get">削除</a>
                  </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>
    
      <!-- pagination -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3 py-2">
              <nav aria-label="ページ送り">
                <div class="text-center">
                  <ul th:if="0 != ${page.totalPages}" class="pagination justify-content-center">
				    <li class="page-item">
					    <a class="page-link" th:if="${!page.isFirstPage()}" th:href="@{${url}(page=0)}">最初のページ</a>
				    </li>
				    <li class="page-item" th:each='i : ${#numbers.sequence(0, page.totalPages - 1)}' th:class="(${i}==${page.number})? 'active file-page' : 'file-page'" >
					    <span class="page-link" th:if='${i}==${page.number - 1}' th:text='${i + 1}'>1</span>
					    <a class="page-link" th:if='${i}!=${page.number - 1}' th:href="@{${url}(page=${i})}">
						<span th:text='${i + 1}'>1</span>
					    </a>
				    </li>
				    <li class="file-page">
					    <a class="page-link" th:if="${!page.isLastPage()}" th:href="@{${url}(page=(${page.totalPages} - 1))}">最後のページ</a>
				    </li>
			      </ul>
			    </div>
			  </nav>
			</div>
	      </div>
        </div>
        <!-- End of pagination -->
        <!-- End of teaching-material list -->
    <!-- End of Main -->
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
<th:block th:insert="fragments/footer :: footer"></th:block>
</html>